i {
    font-size: 2rem;
    color: black;
}

.hero {
    min-height: 50vh;
    background: #000 url(https://image.freepik.com/free-vector/gradient-geometric-shape-background_78532-307.jpg) center center no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .hero-content {
        position: absolute;
        bottom: 15px;
        color: #fff;
    }
}

.stv-radio-buttons-wrapper {
    clear: both;
    display: inline-block;
    margin-top: 3rem;
    margin-left: 3rem;

    .stv-radio-button {
        position: absolute;
        left: -9999em;
        top: -9999em;

        &+label {
            float: left;
            padding: .5em 1em;
            cursor: pointer;
            border: 1px solid #28608f;
            margin-right: -1px;
            color: #fff;
            background-color: #428bca;

            &:first-of-type {
                border-radius: .7em 0 0 .7em;
            }

            &:last-of-type {
                border-radius: 0 .7em .7em 0;
            }
        }

        &:checked+label {
            background-color: #3277b3;
        }
    }
}

.alert {
    max-width: 75%;
    margin-top: 0;
    margin-left: 3rem;
    display: none;
}

.search-bar-text {
    margin-left: 3rem;
}

.input-group {
    margin-left: 3rem;
    width: 75%;
    
    .form-control{
        
        &:focus {
            box-shadow: none;
        }
    }
}

.colors {
    padding: 2rem;

    .row {
        height: 50vh;

        .col {
            border: 1px solid black;
            border-radius: 25px;
            margin: 1rem;
        }

        .row {
            height: 6rem;
            margin-top: 2.5rem;
            background-color: #FFF;
            border: 1px solid black;
            justify-content: center;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            align-content: center;

            .copied-color {
                p {
                    margin-bottom: 0;
                }
            }
            .bi {
                margin: .5rem;
            }

            .changeColor {
                height: 100%;
            }
        }
    }

    .colorName {
        height: fit-content;
        .clipboard {
            display: inline;
        }
    }
}